body { 
    font-family:'Roboto', 'Times New Roman',  sans-serif;
}
html {
    box-sizing: border-box;
}
   
*,
::before,
::after {
    box-sizing: inherit;
}
  
:root {
    --main-one-color: #2196F3;
    --main-to-color:  #757575;
    --main-sir-color:  #FFFFFF;
    --main-fa-color: #2F303A;
    --main-se-color:  #212121;
    --main-so-color:  #F5F4FA ;
    --main-sr-color:  #000000;

  }
a { 
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
   }
a {   margin: 0px;}
li {
    list-style-type: none; /* Убираем маркеры */
    padding: 0px;
    margin: 0px;
}
h1 { 
    text-transform: uppercase; /* Заглавные буквы */
   }
h1, h2, h3, p , header , main{
    margin-top: 0px;
    margin-bottom: 0px;
}
ul { padding-inline-start: 0px; }

.box-r,.box-t {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
}


.promo  {
    color:  var(--main-se-color);
}

.mail-li {
    color:  var(--main-to-color);}

.active:hover,.active:focus  {
    color:  var(--main-one-color);
}

.dio-a, .kont-b {
    color:var(--main-one-color);
}
 
.hero-big {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color:  var(--main-sir-color);
    text-align: center;
    padding: 200px 452px 60px 452px;
}
.hero {
    background-color :var(--main-fa-color);
    height: 600px;
    text-align: center;
}

.ten {
    background-color : var(--main-fa-color);} 
.logo { 
    font-family:Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.38;
    color: var(--main-sr-color);
}   
.logo-web, .lo-b{
    color:
    var(--main-one-color);
} 
.lo-a , .logo-wite { 
    color: var(--main-sir-color);
}
.comand {
   /* height: 648px;*/
    background-color: var(--main-so-color);
    padding-top : 94px ;
}
.comone {  display: flex;
    text-align: center; 
   /* margin: 15px;*/
    justify-content: center;
}
.bend { padding-top: 94px;
    font-weight: 700px;
    font-size: 36px;
    line-height: 1.17;
    text-align: center; 
    margin-bottom: 50px;
}
.tehnology  {
    display: flex;  
    justify-content: space-between;
    text-align:left;  
}
.foto {
     display: flex; 
   justify-content: space-between ;
   height: 370px; 
   margin-top: 50px;
}
.subtitle, .grey {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
    color:  var(--main-se-color);
}
.profession {
    font-size: 16px;
    line-height: 1.17;
    color:  var(--main-to-color);
}
.sect {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: var(--main-se-color);
    text-align: center; 
}
.det-a {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    color: var(--main-se-color);
}
.det-b {
    font-size: 14px;
    line-height: 1.71;
    color: var(--main-to-color);
    width: 270px ;
    height: 72px;
}
.adr-b, .adr-c, .info-b, .info-c, .adr-a  {
    font-size: 14px;
    line-height: 1.71;
    color:  var(--main-sir-color);
    font-style: normal;
    opacity: 0.6;
}
.adr-a  {
    opacity: 1;
}
.bot-x {
    width: 216px;
    height: 50px;
    top: 430px;
    left: 692px;
    background-color: var(--main-one-color);
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    color: var(--main-sir-color);
}
.bot-x:hover ,.bot-x:focus {
    color:  var(--main-fa-color);
}


.section , .section-q, .sec-q {
    visibility: hidden;
}
.adress , .ten { box-sizing: border-box;
    padding-left: 200px;
    height: 252px;
    background: var(--main-fa-color);
   
}
.frend { 
    display: flex;
    justify-content:space-around;
    margin: 0px;
}

.but-sek  {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 604px;
    margin-left: auto; 
    margin-right: auto;
    margin-top: 0px;
}

.grey { 
    width:100px;
    height:26px;
    top:180px;
    left:979px;
    background: var(--main-so-color);
    margin: 10px;
    border: none; 
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
}

.widget {
        font-size: 16px;
        line-height: 1.88;
        color: var(--main-to-color);
}
.aside {
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        color: var(--main-se-color);
}

.subtitle, .profession { text-align: center;
}

.grey:hover{
    background-color: var(--main-one-color); 
    color: var(--main-sir-color);
    transition-duration: 0.5s;
}
.grey:focus{
    background-color: var(--main-one-color); 
    color: var(--main-sir-color);
}
.cool {
    font-weight: 400;
}

.logo{ display: inline-block;
width: 145px;
height: 31px;

}
.active {
    display: inline-block;
}

.box { 
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    }

.but-sek, .box {
    margin-bottom: 56px; 
}

.adress {
    margin-top: 94px;}

.adr-a, .info-b,.info-c {
    width: 231px;
    height: 21px;
}
.lo-a {
    margin-bottom: 16px;
}

.box-p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto; 
    margin-right: auto;
    margin-top: 0px;
}

.container {
    width:1200px;
    padding-left: 15px; 
    padding-right: 15px; 
    margin-left: auto ;
    margin-right: auto ;
   /* align-items: center;
    text-align: center;*/
   
}

.dio-a{
    width: 45px;
    height: 16px;
}
.dio-b{
    width: 72px;
height: 16px;

}
.dio-c{
    width: 64px;
    height: 16px;
}

.logo-activ {
padding-top: 24px;
}
.box-r, .box-t  {
    justify-content: space-between;
    display: flex;
    width: 281px;
    height: 16px;
    margin: 0px;
   padding-top: 32px;
   margin-left: 93px;
   margin-right: 134px;
    
}
   
.box-q { display: flex;
    flex-wrap: wrap; 
    align-items: center;
  justify-content: start;                     /*space-between;*/
  /*  margin-right: 0 93px; */
    margin-bottom: 94px;
   
}

.lo-a.active{
    padding-top: 60px ;
    padding-bottom: 20px;
}


.kont-a, .dio-a { 
    display: inline-block;
    width: 45px ;
    height:31px ;
}
.kont-b ,.dio-b { 
    display: inline-block;
    width: 72px ;
    height:31px ;
  
}
.kont-c, .dio-c { 
    display: inline-block;
    width: 64px ;
    height:31px ;
}
.kont-d, .mail-a { 
    display: inline-block;
    width: 135px ;
    height:16px ;
}
.kont-i, .mail-b { 
    display: inline-block;
    width: 122px ;
    height: 16px;
}
.frend-block {
    width: 270px;
    height: 368px;
}
.subtitle {
    padding-top: 30px;
    padding-bottom: 10px;
}


