body { 
    font-family:'Roboto', 'Times New Roman',  sans-serif;
}
html {
    box-sizing: border-box;
}
   
*,
::before,
::after {
    box-sizing: inherit;
}
  
:root {
    --main-one-color: #2196F3;
    --main-to-color:  #757575;
    --main-sir-color:  #FFFFFF;
    --main-fa-color: #2F303A;
    --main-se-color:  #212121;
    --main-so-color:  #F5F4FA ;
    --main-sr-color:  #000000;

  }
a { 
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
   }
a {   margin: 0px;}
li {
    list-style-type: none; /* Убираем маркеры */
    padding: 0px;
    margin: 0px;
}
h1 { 
    text-transform: uppercase; /* Заглавные буквы */
   }
h1, h2, h3, p , header , main{
    margin-top: 0px;
    margin-bottom: 0px;
}
ul { padding-inline-start: 0px; }

.navigation-r,.box-navigation{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
}


.promo  {
    color:  var(--main-se-color);
}

.navigation-li {
    color:  var(--main-to-color);}

.active:hover,.active:focus  {
    color:  var(--main-one-color);
}

.navigation-a, .navigation-bi {
    color:var(--main-one-color);
}
 
.hero-big { width: 700px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color:  var(--main-sir-color);
    text-align: center;
    padding-top: 200px; 
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  
}
.hero { margin-bottom: 66px; /*  94px-28px  на скрый текст */
    background-color :var(--main-fa-color);
    text-align: center;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
   justify-content: center;
}
.bot-button { 
    width: 216px;
    height: 50px;
    background-color: var(--main-one-color);
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    color: var(--main-sir-color);
  /* 
    margin-left: auto;
    margin-right: auto;*/
}

.logo { 
    font-family:Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.38;
    color: var(--main-sr-color);
 
}   
.logo-web, .logo-b{
    color:
    var(--main-one-color);
} 
.logo-a , .logo-wite { 
    color: var(--main-sir-color);
}
.section-comand {
    background-color: var(--main-so-color);
}

.bend { 
    font-weight: 700px;
    font-size: 36px;
    line-height: 1.17;
    text-align: center; 
    padding-bottom: 50px;
   
}
.tehnology  {
    display: flex;  
    justify-content: space-between;
    text-align:left;  
}
.foto {
     display: flex; 
   justify-content: space-between ;
   height: 370px; 
   margin-top: 50px;
}
.subtitle, .btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
    color:  var(--main-se-color);
}
.profession {
    font-size: 16px;
    line-height: 1.17;
    color:  var(--main-to-color);
}
.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: var(--main-se-color);
    text-align: center; 
    margin-top: 94px;
}
.headline {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    color: var(--main-se-color);
}
.text {
    font-size: 14px;
    line-height: 1.71;
    color: var(--main-to-color);
}
.adress-b, .adress-c, .adress-bi, .adress-ci, .adress-a  {
    font-size: 14px;
    line-height: 1.71;
    color:  var(--main-sir-color);
    font-style: normal;
    opacity: 0.6;
}
.adress-a  {
    opacity: 1;
}

.bot-button:hover ,.bot-button:focus {
    color:  var(--main-fa-color);
}


.subject {
    visibility: hidden;
}
.adress {
    box-sizing: border-box;
    background: var(--main-fa-color);
   
}
.frend { 
    display: flex;
    justify-content:space-around;
    margin: 0px;
 
}

.items  {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: auto; 
    margin-right: auto;
    margin-top: 0px;
}

.btn { 
    width:100px;
    height:26px;
    top:180px;
    left:979px;
    background: var(--main-so-color);
    margin: 10px;
    border: none; 
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
}

.widget {
        font-size: 16px;
        line-height: 1.88;
        color: var(--main-to-color);
}
.aside {
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        color: var(--main-se-color);
}

.subtitle, .profession { text-align: center;
}

.btn:hover{
    background-color: var(--main-one-color); 
    color: var(--main-sir-color);
    transition-duration: 0.5s;
}
.btn:focus{
    background-color: var(--main-one-color); 
    color: var(--main-sir-color);
}
.cool {
    font-weight: 400;
}

.logo{ 
    display: inline-block;

}
.active {
    display: inline-block;
}

.list { 
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
   
    }

.items, .list {
    margin-bottom: 66px; 
}

.box-p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto; 
    margin-right: auto;
    margin-top: 0px;
}

.container {
    width:1200px;
    padding-left: 15px; 
    padding-right: 15px; 
    margin-left: auto ;
    margin-right: auto ;
    align-items: center;
   
}

.navigation-r, .box-navigation {
    justify-content: space-between;
    display: flex;
    margin: 0px;
    padding-top: 32px;
    padding-bottom: 32px;  
}
   
.wrapper-q { display: flex;
    flex-wrap: wrap; 
    align-items: baseline;
  justify-content: start;
  margin-bottom: 72px;

}

.logo-a.active{
    padding-top: 60px ;
    padding-bottom: 20px;
}


.navigation-ai, .navigation-a { 
    display: inline-block;

  
}
.navigation-bi ,.navigation-b { 
    display: inline-block;

   
  
}
.navigation-ci, .navigation-c { 
    display: inline-block;


}
.navigation-di, .navigation-aa { 
    display: inline-block;
   

}
.navigation-ii, .navigation-bb { 
    display: inline-block;
  
}

.subtitle {
    padding-top: 30px;
    padding-bottom: 10px;
}
.section-comand {
  padding-top: 94px;
  padding-bottom: 94px;
}
.adress-c,.adress-ci {
    margin-bottom: 60px;
}
.navigation-b ,.navigation-bi {
    margin-left: 50px;
    margin-right: 50px;
}
.navigation-aa , .navigation-di {
    margin-left: 340px;
    margin-right: 50px;
}
.navigation-a,.navigation-ai {
    margin-left: 93px;
} 
.address-ul {
    margin: 0px;
}
